In [23]:
# Import libraries. You may or may not use all of these.
#!pip install -q git+https://github.com/tensorflow/docs
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

#import tensorflow_docs as tfdocs
#import tensorflow_docs.plots
#import tensorflow_docs.modeling

In [77]:
# Import data
!wget https://cdn.freecodecamp.org/project-data/health-costs/insurance.csv -nv

dataset = pd.read_csv('insurance.csv')
os.remove('insurance.csv')

dataset.head()

2024-01-05 22:27:44 URL:https://cdn.freecodecamp.org/project-data/health-costs/insurance.csv [50264/50264] -> "insurance.csv" [1]

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [78]:
# Get categorical columns indexes
cat_columns = dataset.select_dtypes(['object']).columns

# Factorize (convert to numerical) all categorical columns
dataset[cat_columns] = dataset[cat_columns].apply(lambda x: pd.factorize(x)[0])

dataset.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       0       0  16884.92
1   18    1  33.8         1       1       1   1725.55
2   28    1  33.0         3       1       1   4449.46
3   33    1  22.7         0       1       2  21984.47
4   32    1  28.9         0       1       2   3866.86

In [88]:
split = 0.8

ds_train = dataset.sample(frac=split)
ds_val = dataset.drop(ds_train.index)

print(f'{split * 100}% split: {ds_train.size} training samples and {ds_val.size} validation samples.')

80.0% split: 7490 training samples and 1876 validation samples.

In [72]:
labels = dataset.pop('expenses')

labels.head()

0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: expenses, dtype: float64

In [43]:
#dataset.sample(frac=0.01)
tf.split(dataset, num=2, num_or_size_splits=0.5)

ValueError: Rank-0 tensors are not supported as the num_or_size_splits argument to split. Argument provided: 0.5

In [ ]:
# RUN THIS CELL TO TEST YOUR MODEL. DO NOT MODIFY CONTENTS.
# Test model by checking how well the model generalizes using the test set.
loss, mae, mse = model.evaluate(test_dataset, test_labels, verbose=2)

print("Testing set Mean Abs Error: {:5.2f} expenses".format(mae))

if mae < 3500:
  print("You passed the challenge. Great job!")
else:
  print("The Mean Abs Error must be less than 3500. Keep trying.")

# Plot predictions.
test_predictions = model.predict(test_dataset).flatten()

a = plt.axes(aspect='equal')
plt.scatter(test_labels, test_predictions)
plt.xlabel('True values (expenses)')
plt.ylabel('Predictions (expenses)')
lims = [0, 50000]
plt.xlim(lims)
plt.ylim(lims)
_ = plt.plot(lims,lims)