In [10]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
from zipfile import ZipFile
import os

pd.options.display.float_format = '{:.0f}'.format # Supress scientific notation

In [11]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip -nv

with ZipFile('book-crossings.zip', 'r') as zObject:
    zObject.extractall()

os.remove('book-crossings.zip')

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'
# users_filename = 'BX-Users.csv'

2024-01-08 16:46:28 URL:https://cdn.freecodecamp.org/project-data/books/book-crossings.zip [26085508/26085508] -> "book-crossings.zip" [1]

In [12]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [13]:
df_ratings.head(8)

     user        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6
5  276733  2080674722       0
6  276736  3257224281       8
7  276737  0600570967       6

In [14]:
df_ratings.describe()

         user  rating
count 1149780 1149780
mean   140386       3
std     80562       4
min         2       0
25%     70345       0
50%    141010       0
75%    211028       7
max    278854      10

In [15]:
# Get list of users that posted 200+ reviews
users = df_ratings.groupby('user').count().isbn.sort_values()
users = users.loc[users >= 200].index.to_list()

# Get list of books that have 100+ reviews
books = df_ratings.groupby('isbn').count().user.sort_values()
books = books.loc[books >= 100].index.to_list()

# Filter dataframe with previously generated lists
df_ratings = df_ratings.loc[(df_ratings.isbn.isin(books)) & (df_ratings.user.isin(users))]

In [16]:
df_ratings.describe()

        user  rating
count  49781   49781
mean  140993       2
std    80901       4
min      254       0
25%    70415       0
50%   140358       0
75%   213350       3
max   278418      10

In [ ]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):


  return recommended_books

In [ ]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2):
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! ðŸŽ‰ðŸŽ‰ðŸŽ‰ðŸŽ‰ðŸŽ‰")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()